{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "istanbul",
    "@babel/transform-runtime",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        "transform-class-properties",
        "require-context-hook",
        "transform-require-context",
        "@babel/plugin-transform-modules-commonjs",
        "babel-plugin-dynamic-import-node",
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}

